{
  "$schema": "https://json.schemastore.org/snyk-config",
  "version": "v1.0.0",
  "languageSettings": {
    "javascript": {
      "severityThreshold": "high"
    },
    "python": {
      "severityThreshold": "high"
    }
  },
  "exclude": {
    "global": ["**/node_modules/**", "**/.venv/**", "**/dist/**"]
  }
}
